*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
body
.padre{
    display: flex;
    flex-flow: column nowrap;
    }
        .header{
                max-width: 100%;
                height: 800px;
                margin: 5px;
                padding: 5px;
                border:10px solid blue;
                background: url(img/casas.jpg);
                background-position: center;
                background-attachment: contain;
                background-size: cover;
                display: flex;
                flex-flow: column nowrap;
        }
        
        .caja{
            width: 100%;
            height: 60px;
            margin: 0px;
            padding: 5px;            
            background-color: black         
            float: left;
        }
          
        
        
        .logo{
            position: static;
            width:25%;
            height: 15px;
            margin: 5px;
            padding:5px;
            align-items: center;
            background-color: #e0ea54;
            flex:1 1 auto;
            display: flex;
            flex-flow: row nowrap; 
                               
            }
        .menu{
            position: static;           
            width:25%;
            height: 15px;
            margin: 5px;
            padding:5px;
            align-items: center;
            background-color:whitesmoke ;
            flex:1 1 auto;
                display: flex;
                flex-flow: row nowrap;
            
                
                         
        }
         .right{
            position: static;
        
                background-color: #e02424;
                flex:1 1 auto;
                height: 30px;
                                    }
                                    .portada{
                                        background-color: antiquewhite;
                                        color: blue;
                                    }
                                    
        
                                    .texto-prinsipal{
                                        margin: 0px;
                                        padding: 15px;
                                        text-align: center;
                                        background-color: whitesmoke;
                                        color:black
                                    }
                                    


.section{
            background-color: black;
            display: flex;
        }
     .articulos{
                background-color: white;
                flex:2 1 auto;
                display: flex;
                flex-flow: row wrap;
               }
               .tres{
                   color: #ea5455;
               }
        .subarticulos{
                  background-color:   #1fb6cb0;
                  flex:1 1 40%;

                             }
                .navegacion{
                       background-color: black;
                       flex:1 1 100%;
                           }
                                      .aside{
                                         background-color: blue;
                                         flex:1 1 auto;
                                             }
                                          .holberton{
                                              background-color:white;
                                                  }
                                                  h2{
                                                      color: red;
                                                  }
        .footer{
                background-color: black;
                display: flex;
                justify-content: center;
        }
              .pie{
                  background-color: #ffd460;
                  width: 300px;
              }


@media all and (max-width: 800px){

    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }


}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}